.alltransactionmodal {
	padding: 2.5% 5%;
	background-color: white;
	max-width: 800px;
	width: 100%;
	border-top: 1px solid rgba(128, 128, 128, 0.09);
	article {
		&:nth-of-type(1) {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			margin-block: 1vh;
			svg {
				width: 2vmax;
				height: 2vmax;
			}
			img {
				width: 6vmax;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		&:nth-of-type(2) {
			display: flex;
			gap: 5vw;
			justify-content: space-between;
			align-items: center;
			margin-block: 2vh;
			div {
				display: flex;
				background-color: #f7f7f7;
				padding: 2vh;
				border-radius: 30px;
				align-items: center;
				flex: 1;

				input[type='text'] {
					border: none;
					background-color: #f7f7f7;
					font-size: 2vmax;
					width: 100%;
				}
			}
			input[type='date'] {
				width: 6vmax;
				height: 6vmax;
				aspect-ratio: 1/1;
				border-radius: 50%;
				color: rgba(255, 0, 0, 0);
				outline: 1px solid black;
				appearance: none;
				border: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				background: url('../../../public/Calendar.svg') center/70%
					no-repeat;
				&::-webkit-calendar-picker-indicator {
					display: none;
				}
			}
		}
	}
}
