.addIncome {
	padding: 2% 5%;
	max-width: 800px;
	overflow: hidden;
	border-top: 1px solid rgba(128, 128, 128, 0.09);
	.userInfo {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		svg {
			width: 2vmax;
			height: 2vmax;
		}
		img {
			width: 6vmax;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	h1 {
		color: #409474;
		font-size: 2.5vmax;
		font-weight: 600;
		margin-block: 1vh 1.5vh;
		line-height: 100%;
	}
	form {
		margin-top: 2vh;
		label {
			display: block;
			margin-bottom: 1vh;
			font-size: 2vmax;
			font-weight: 600;
			h4 {
				margin-left: 1vmax;
			}
		}
		input,
		select,
		textarea {
			display: block;
			margin: 0 auto;
			font-size: 2vmax;
			width: 100%;
			padding: 1.9vh;
			padding-left: 2.5vh;
			border-radius: 3vmax;
			font-weight: 500;
			border: none;
			margin-bottom: 1vh;
			background-color: #f2f2f2;
			resize: none;
			&::placeholder {
				color: rgb(81, 81, 81);
				font-weight: 500;
			}
			&:focus {
				outline: none;
			}

			&[type='time'],
			&[type='date'] {
				margin-top: 0.8vh;
				display: flex;
				text-align: center;
				height: 6vmax;
				font-size: 2vmax;
				&::-webkit-calendar-picker-indicator {
					display: none;
				}
				width: 20vmax;
				color: rgb(65, 65, 65);
			}
			&[type='file'] {
				color: #2989ff00;
				background: url(../../../public/camera.png) center / 60%
					no-repeat;
				width: 5.5vmax;
				aspect-ratio: 1 / 1;
				margin: 0;
				border-radius: 50%;
				border: 3px solid gray;
				&::file-selector-button {
					display: none;
				}
			}
		}
		select {
			height: 6vmax;
			font-size: 2vmax;
			appearance: none;
			-webkit-appearance: none;
			color: rgb(65, 65, 65);
		}
		div {
			&:nth-of-type(1) {
				display: flex;
				justify-content: space-between;
			}
			&:nth-of-type(2) {
				padding: 0;
				width: 100%;
				display: flex;
				gap: 1vmax;
				align-items: center;
				justify-content: center;
				margin: 2vh 0;
				margin-bottom: 0.5vh;
				.button {
					max-width: 50vmax;
				}
			}
		}
	}
}
