.card {
	width: 100%;
	position: relative;
	border-radius: 1.5vmax;
	background-color: #a1a1a19b;
	box-shadow: 1px -1px 5px rgba(92, 92, 92, 0.643);
	aspect-ratio: 2/1.1;
	.pattern {
		border-radius: 1.5vmax;
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
		bottom: 0;
		object-fit: cover;
		mix-blend-mode: luminosity;
	}
	section {
		article {
			padding: 5%;
			&:nth-of-type(1) {
				width: 100%;
				display: flex;
				justify-content: space-between;
				div {
					display: flex;
					z-index: 0;
					div {
						width: 4vmax;
						height: 4vmax;
						background-color: rgba(101, 140, 173, 0.232);
						border-radius: 50%;
						&:nth-of-type(2) {
							position: relative;
							left: -20%;
						}
					}
				}
				img {
					width: 3vmax;
					position: relative;
					top: -4vmax;
					right: -1vmax;
				}
			}
			&:nth-of-type(2) {
				position: relative;
				h4 {
					display: flex;
					align-items: center;
					color: rgb(209, 209, 209);
					font-size: 2vmax;
					margin-bottom: 1vh;
					font-weight: 600;
					span {
						display: inline-block;
						width: 0.5vmax;
						aspect-ratio: 1 / 1;
						background-color: rgb(209, 209, 209);
						border-radius: 50%;
						margin-right: 0.8vmax;
					}
				}
			}
			&:nth-of-type(3) {
				position: relative;
				display: flex;
				justify-content: space-between;
				color: rgb(209, 209, 209);
				font-weight: 600;
			}
		}
	}
}
