.onBoarding {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 90vh;
	text-align: center;
	flex-direction: column;
	gap: 2vh;
	article {
		padding-top: 20vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		.bankCard {
			width: 35vmax;
			margin: 0 auto;
			animation: card 2s ease infinite;
		}
		.shadow {
			animation: shadow 2s ease infinite;
			width: 80%;
			margin: 0 auto;
			margin-top: 2vh;
		}
		.dollar {
			width: 3vmax;
			position: absolute;
			animation: dollar 3.5s linear infinite;
			transform: rotate(90deg);
			margin-left: 40%;
		}
		.dollar2 {
			width: 4vmax;
			animation: dollar 5s linear infinite;
			position: absolute;
		}
		.dollar3 {
			width: 5vmax;
			animation: dollar 4s linear infinite;
			position: absolute;
			margin-left: 70%;
		}

		.redDollar {
			width: 3vmax;
			position: absolute;
			animation: coin 11s linear infinite;
			transform: rotate(90deg);
			margin-left: 40%;
		}
		.redDollar1 {
			width: 3vmax;
			position: absolute;
			animation: coin 7s linear infinite;
			transform: rotate(90deg);
			margin-left: 40%;
		}
		.redDollar2 {
			width: 4vmax;
			animation: coin 6s linear infinite;
			position: absolute;
		}
		.redDollar3 {
			width: 5vmax;
			animation: coin 8s linear infinite;
			position: absolute;
			margin-left: 70%;
		}
		.coin {
			width: 3vmax;
			animation: coin 9s linear infinite;
			position: absolute;
			margin-left: 50%;
		}
		.coin1 {
			width: 3vmax;
			animation: dollar 6s linear infinite;
			position: absolute;
			margin-left: 80%;
		}
		.coin2 {
			width: 4vmax;
			animation: dollar 8s linear infinite;
			position: absolute;
			margin-left: 65%;
		}
		.coin3 {
			width: 2vmax;
			animation: coin 9s linear infinite;
			position: absolute;
			margin-right: 35%;
		}
	}
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h2 {
			margin-block: 3vh;
			font-size: 3vmax;
			width: 70%;
			margin-inline: auto;
		}
		p {
			margin-bottom: 2vh;
			width: 85%;
			margin-inline: auto;
			font-size: 2vmax;
		}
		div {
			width: 50vmax;

			&:nth-of-type(2) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 0 auto;
				margin-top: 5vh;
				min-width: 70vmax;
				padding-left: 5vmax;
				a {
					display: inline-block;
					margin: 0 auto;
					font-size: 2vmax;
				}
				.button {
					max-width: 20vmax;
					transform: scale(0.6);
					margin-left: auto;
					font-size: 2.5vmax;
					font-weight: 600;
				}
			}
		}
	}
}

@keyframes card {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, -1vmax);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes shadow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes dollar {
	0% {
		transform: translate(-5vw, -60vh) rotate(0);
		display: block;
	}
	10% {
		transform: translate(-5vw, -50vh) rotate(0);
		display: block;
	}

	25% {
		transform: translate(10vw, -40vh) rotate(120deg);
	}

	50% {
		transform: translate(-10vw, -20vh) rotate(-90deg);
	}
	75% {
		transform: translate(10vw, -10vh) rotate(45deg);
	}
	100% {
		transform: translate(0, 0) rotateY(90deg);
		display: none;
	}
}
@keyframes coin {
	100% {
		transform: translate(-5vw, -60vh) rotate(0);
		display: block;
	}
	75% {
		transform: translate(-5vw, -50vh) rotate(0);
		display: block;
	}

	50% {
		transform: translate(10vw, -40vh) rotate(120deg);
	}

	25% {
		transform: translate(-10vw, -20vh) rotate(-90deg);
	}
	10% {
		transform: translate(10vw, -10vh) rotate(45deg);
	}
	0% {
		transform: translate(0, 0) rotateY(90deg);
		display: none;
	}
}
